
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body{
  background: url(appBackground.jpg);
  background-size: cover;
  height: 75vh;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  height: 80px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-subheader{
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  color: #666666;
  position: absolute; 
  top: 13%;
}

.App-link {
  color: #61dafb;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 10rem); 
  justify-content: center;  
  gap: 5px;
  margin-top: 20px;
}

.cardContainer{
  display: flex;
  justify-content: center;
  position: relative;
  perspective: 800px;
  border-radius: 4px;
}

.scoreContainer{
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.2rem;
  padding: .5rem;
  padding-top: 1rem;
  margin: 1rem;
  /* border-top: 1px solid black; */
}

.scoreColor-green{
  color: rgb(65, 149, 65);
}

.scoreColor-red{
  color: rgb(167, 34, 34);
}

.resetBtn{
  padding: .5rem 2rem;
  background: rgb(247, 61, 61);
  color: white;
  border-radius: 10px;
}

.resetBtn:hover{
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
