 <%- include('./partials/meta') -%>
<body>

    <div class = 'title_container'>
        <div>
            <h1>Weatherify </h1>
        </div>
        <div class = title_logo>
            <i class="fa-brands fa-spotify"></i>
        </div>
    </div>
    <hr>
    <div class="login_container">
        <a href= '/authorize' class ='auth'>Login to Spotify</a>
    </div>
    
</body>
</html>