 <%- include('./partials/meta') -%>
<body>

    <div class = 'title_container'>
        <h1 class = 'title' >Weatherify</h1>
    </div>
    <hr>
    <div class="login_container">
        <a href= '/authorize'>Login to Spotify</a>
    </div>
    
</body>
</html>