<%- include('./partials/meta') -%>
<body>
    <%- include('./partials/header') -%>
    
    <!-- <button class = 'playlistBtn'>Playlist</button> -->
    <div id = 'searchBtn' ></div>
    <%- include('./partials/script') -%>
    <script>
        // let playBtn = document.querySelector('.playlistBtn')
        // playBtn.addEventListener('click', saveTrack());
        saveTrack();
    </script>
</body>

</html>