<%- include('./partials/meta') -%>
<body>

    <h1>Hi, <%= user.display_name %>. Welcome to Weatherify</h1>
    <h2>HERES MY KEY <%= JSON.stringify(k.spotifyKey) %> </h2>

  
    
    <p> Enter a zip code, and click on the forecast to get some music recommendations!</p>
    <label for = 'search bar'>Enter Zip:</label>
    <input type = 'text' id ='searchBar'>
    <div>
        <button id = 'searchBtn'>Submit</button>
    </div>


    <div>
        <p>Select your temperature</p>
        <span id='sunny'>Sunny</span>
    </div>

    <container id = 'forecast'>
    </container>
    
    <div>
        <span id='hipHop'>Hip Hop</span>
    </div>

    <div>
        <button id = 'submit'>Submit</button>
    </div>

<%- include('./partials/script') -%>
<script>
    // export const myKey = JSON.stringify(k.spotifyKey) 
    // const myKey = JSON.stringify(k.spotifyKey) 
    // console.log(myKey);
</script>

</body>
</html>

