<%- include('./partials/meta') -%>
<body>

    <div class="title_container">
        <h1>Weatherify </h1>
    </div>
    <hr>
    <!-- <h2>HERES MY KEY  JSON.stringify(k.spotifyKey) </h2>
     -->
     <div class="content_container">
         <h2>Hi, <%= user.display_name %>!</h2>
         <h3> Enter your zip code for personalized music recommendations</h3>
         <label for = 'search bar'>Enter Zip:</label>
         <input type = 'text' id ='searchBar'>
         <div>
             <button id = 'searchBtn'>Submit</button>
         </div>
     
         <div id = 'forecast_container'>
             <div>
                 <p>Select your temperature</p>
                 <span id='sunny'>Sunny</span>
            </div>
        </div>
        
       
        <div id='hipHop'>Hip Hop</div>
     
         <div>
             <button id = 'submit'>Submit</button>
         </div>
     </div>
     

    <script type = 'module'>
        // export const myKey = JSON.stringify(k.spotifyKey) 
        // export const myKey = <%- JSON.stringify(k.spotifyKey) %>
        // console.log(myKey);
        // console.log(myKey);
    </script>
        <%- include('./partials/script') -%>

</body>
</html>

